body {
    background-color: rgb(12, 12, 24);
    color:antiquewhite;
    font-family:'Courier New', Courier, monospace
}
hr {
    border-style: double none none;
    border-width: 3px;
    color:antiquewhite;
}
img {
    padding: 20px
}
.lightseagreentext {color:lightseagreen}
.tomatotext {color:tomato}